{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" >

    
	  <!-- Bootstrap CSS-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <meta content="" name="descriptison">
	  <meta content="" name="keywords">
	 
	  <!-- Favicons -->
	  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
	  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

	  <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

	  <!-- Vendor CSS Files -->
	  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
	  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
	  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
	  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

	  <!-- Template Main CSS File -->
	  <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<title>
		Vaccine Distribution
    
	</title>
</head>
<body>
	<!--<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center fixed-top">
        <div style="margin:auto; overflow: hidden;">
          <h1><a href="{% url 'home' %}"><img style ="width:80px;" src="{% static 'img/3.png' %}" alt="logo" class="img-fluid"></a></h1>
          
        </div>
       
          

        <nav class="nav-menu d-none d-lg-block">
          <ul>
          
            <li class="active"><a href="#header">Select Module</a></li>
            <li><a href="#services">About Us
            <li><a href="#footer">Contact Us</a></li>

            <li class="get-started"><a href="#services"><i class="bx bx-star"></i>  Get Started</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>-->

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sir"></a>
                </li>
                <h3></h3>
            </ul>
        </div>
    </nav>

    <!--{% block main %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->


{% block content %}
<h1> Didn't Work </h1>
{% endblock %}



<!-- The Footer Section -->
<!--<br>
<footer id="footer" style = "position: absolute;">
<br>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
    
              <h4> About</h4>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Help Desk</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Customer Care</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Legal Help</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4> Modules </h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">SIR Module</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">COVID Vaccine Distribution</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Have a question?</h4>
            <ul>
              <li><i class="bx bx-current-location"></i> <a href="#">203 Fake St. Mountain View, San Francisco, California, USA</a></li>
              <li><i class="bx bx-phone-call"></i> <a href="#">+91-4567654</a></li>
              <li><i class="bx bx-envelope"></i> <a href="#">abc@xyz.com</a></li>
            </ul>
            <p>Enter your email address for updates</p>
            <form action="." method="post">
              <input type="email" name="email"><input type="submit" value="Submit">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright" style="color: #FFFFFF;opacity: 0.5;">
          Copyright &copy;2021 All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>--><!-- End Footer -->
<!-- importing some Javascripts-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f0d5aa994d.js" crossorigin="anonymous"></script>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>